<h1>blogs/index</h1>
<span>ブログ一覧</span>
<p><%= link_to 'New Blog', new_blog_path %></p>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tr>
    <th>title</th>
    <th>content</th>
    <th>user</th>
  </tr>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title.truncate(14) %></td>
        <td><%= blog.content.truncate(14) %></td>
        <td>username</td>
        <td>show</td>
        <td>edit</td>
        <td>delete</td>
      </tr>
    <% end %>
  </tbody>
</table>
